{% extends 'common/base.html' %}

{% load bootstrap4 i18n %}

{% block content %}
<form class="form" method="post" enctype="multipart/form-data" action="{% url 'password_change' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="d-none d-lg-block d-xl-block">
        {% bootstrap_button _("Change password") button_type="submit" button_class="btn btn-primary" %}
        {% bootstrap_button _("Reset") button_type="reset" button_class="btn btn-warning" %}
        <a href="{% url 'common:index' %}" class="btn btn-light">{% trans 'Cancel' %}</a>
    </div>
    <div class="d-lg-none d-xl-none">
        {% bootstrap_button _("Change password") button_type="submit" button_class="btn btn-primary btn-lg btn-block" %}
        {% bootstrap_button _("Reset") button_type="reset" button_class="btn btn-warning btn-lg btn-block" %}
        <a href="{% url 'common:index' %}" class="btn btn-light btn-lg btn-block">{% trans 'Cancel' %}</a>
    </div>
</form>
{% endblock %}
