{% extends 'common/base.html' %}

{% load bootstrap4 i18n %}

{% block content %}
<h1>{% blocktrans with username=request.user.username %}Password changed successful for user {{ username }} {% endblocktrans %}</h1>
<a class="btn-link" href="{% url 'common:index' %}">{% trans 'Go to main page' %}</a>
{% endblock %}
